* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #7d7d7d;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    flex: 1;
}

.sketch-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 800px;
    height: 800px;
    background-color: #991101;
    padding-top: 50px;
}

.sketch-screen {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    justify-content: space-around;
    width: 600px;
    height: 600px;
    background-color: #bfbfbf;
}

.sketch-screen>div {
    height: auto;
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
}

.sketch-screen>div>* {
    flex: 1;
}

.sketch-control {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    gap: 16px;
}

.hover {
    background-color: white;
}

.default {
    background-color: #bfbfbf;
}

button {
    font-size: 20px;
    padding: 15px;
    font-style: italic;
}

.header {
    text-align: center;
    color: yellow;
    padding-bottom: 10px;
    font-size: 20px;
    font-style: oblique;
}

.size {
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

.size > button {
    margin-bottom: 10px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    background-color: lightblue;
    height: 65px;
    font-size: 20px;
}

img {
    height: 20px;
    width: 20px;
}

input[type='color'] {
    appearance: none;
    min-width: 100px;
    min-height: 40px;
    margin-top: 10px;
    padding: 3px 5px;
}